::selection {
    background: #7A9853;
    color: #fff;
    text-shadow: none;
}

.navbar-inverse{
    background: #7A9853;
}

.navbar-brand{
    padding: 0px 0px 0px 15px;
}

::-moz-selection {
    background: #7A9853;
    color: #fff;
    text-shadow: none;
}

/**** Background Colors ****/
body, .lightBtn {
    background-color: #efefef;
}