.espacio {
  margin-bottom: 6px;
}

/*bloque para usar los iconos*/
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}

/*funcion para la etiqueta <hr> personalizada*/
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(67, 168, 22, 0.9), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(67, 168, 22, 0.9), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(67, 168, 22, 0.9), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(67, 168, 22, 0.9), rgba(0,0,0,0));
  border: 0;
}

.typeahead, .typeahead2, .tt-query, .tt-hint {
  border: 1px solid #CCCCCC;
  /*border-radius: 8px;*/
  font-size: 14px;
  /*height: 30px;*/
  /*line-height: 30px;*/
  outline: medium none;

  /*width: 148%;*/
}
.twitter-typeahead{
  width: 100%;
}
.tt-query, .tt-hint {
  padding: 4px 12px;
  width: 100%;
}
.typeahead, .typeahead2 {
  background-color: #FFFFFF;
}
/*.typeahead:focus {
  border: 2px solid #0097CF;
}*/
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  /*padding: 4px 0;*/
  width: 422px;
}
.tt-suggestion {
  font-size: 16px;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #0097CF;
  color: #FFFFFF;border-radius: 8px;
}
.tt-suggestion p {
  margin: 0;
}
.widget-main2{
  margin-top: 30px;
}

/*OTRO*/
.nav-pills > li.active > a, .nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus {
    background-color:#6A913E;
}

.combobox option { color: black; }

.empty { color: #B7B7B7; }

/*clase que cambia la letra a la q usa bootstrap por default y ademas usa iconos de Font Aweson */
.imagenSubmit{
  font-family: sans-serif, FontAwesome;
}

/*bloque utilizado para el boton de seleccionar archivos*/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{
    clear:both;
}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{
    overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;
}
.fileupload .btn{
    vertical-align:middle;
}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{
    display:none;
}
.fileupload-inline .fileupload-controls{
    display:inline;
}
.fileupload-new .input-append .btn-file{
    -webkit-border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    border-radius:0 3px 3px 0;
}
.thumbnail-borderless .thumbnail{
    border:none;
    padding:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;box-shadow:none;
}
.fileupload-new.thumbnail-borderless .thumbnail{
    border:1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input{
    color:#a47e3c;
    border-color:#a47e3c;
}
.control-group.warning .fileupload .fileupload-preview{
    color:#a47e3c;
}
.control-group.warning .fileupload .thumbnail{
    border-color:#a47e3c;
}
.control-group.error .fileupload .uneditable-input{
    color:#b94a48;border-color:#b94a48;
}
.control-group.error .fileupload .fileupload-preview{
    color:#b94a48;
}
.control-group.error .fileupload .thumbnail{
    border-color:#b94a48;
}
.control-group.success .fileupload .uneditable-input{
    color:#468847;border-color:#468847;
}
.control-group.success .fileupload .fileupload-preview{
    color:#468847;
}
.control-group.success .fileupload .thumbnail{
    border-color:#468847;
}

textarea
      {
        resize: vertical; 
      }
/*bloque que se usa para cambiar color y tamaño de los botones para cargar archivos*/
  .claseBtnArchivoCedula {
    width: 30%;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 10px;
  }
  .btn-file{
    color: #000000;
    background-color: #FFFFFF;
  }
/*---------------------------------------------------------------------*/

  /*bloque para cambiar el color de pestaña de los checkbox personalizados*/
  .toggle-handle{
    background-color: #FFFFFF;
  }
     
 
  /*bloque para cambiar el tamaño de las letras de los tabs cuando se acitva y sobrepone*/
  .nav-pills > li.active > a > font{
    font-size: 120%;
  }
  
  
  /*---------------------------------------*/

  /*bloque q centra todas las etiquetas <td>*/
  td{
    text-align: center;
  }

  /*bloque q sobreescribe stilos de typeahead para poder arreglar el problema de despliegue*/
  .twitter-typeahead .tt-hint
  {
      height: 34px;
      
  }
